@import url("https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px(browser default) = 62.5%
  // @media only screen and (max-width: 1000px) {
  //   font-size: 50%;
  // }
}

// ::-webkit-scrollbar {
//   width: 0.8rem;
// }
// ::-webkit-scrollbar-track {
//   background: blue;
// }
// ::-webkit-scrollbar-thumb {
//   background-color: blue;
// }
// ::-webkit-scrollbar-thumb:hover {
//   background-color: #ffdf99;
// }

.app:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: linear-gradient(
      to bottom,
      rgba(#93b2f7, 0.9),
      rgba(#c6d8ff, 0.9)
    ),
    url("https://images.unsplash.com/photo-1470364798856-7a74180378dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=989&q=80");
  height: 100vh;
  background-size: cover;

  // -webkit-filter: blur(5px);
  // -moz-filter: blur(5px);
  // -o-filter: blur(5px);
  // -ms-filter: blur(5px);
  // filter: blur(5px);
}

.mainContainer {
  background-image: url("https://images.unsplash.com/photo-1470364798856-7a74180378dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=989&q=80");
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  width: 70vw;
  box-shadow: 0 3rem 6rem rgba(black, 0.5);
  border-radius: 1rem;
  border: 1px solid white;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    width: 100%;
    padding: 5rem;

    &--timestamp {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-time {
        color: white;
        font-size: 4rem;
        font-family: "Sora", sans-serif;
        margin-bottom: 1rem;
      }

      &-date {
        color: white;
        font-size: 1.5rem;
        font-family: "Sora", sans-serif;
      }
    }

    &--location {
      color: white;
      font-size: 4rem;
      font-family: "Sora", sans-serif;
    }
  }

  &__btm {
    background-color: orange;
    display: grid;
    // justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, 1fr);
    height: 30%;
    width: 100%;

    & > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 1px solid red;
      height: 9rem;
    }

    &--temp {
      color: white;
      font-size: 4rem;
      font-family: "Sora", sans-serif;
    }

    &--wind {
      border: none;
    }
  }
}
