@import url("https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px(browser default) = 62.5%
  // @media only screen and (max-width: 1000px) {
  //   font-size: 50%;
  // }
}

// ::-webkit-scrollbar {
//   width: 0.8rem;
// }
// ::-webkit-scrollbar-track {
//   background: blue;
// }
// ::-webkit-scrollbar-thumb {
//   background-color: blue;
// }
// ::-webkit-scrollbar-thumb:hover {
//   background-color: #ffdf99;
// }

.app:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: linear-gradient(
      to bottom,
      rgba(#93b2f7, 0.9),
      rgba(#c6d8ff, 0.9)
    ),
    url("https://images.unsplash.com/photo-1470364798856-7a74180378dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=989&q=80");
  height: 100vh;
  background-size: cover;

  // -webkit-filter: blur(5px);
  // -moz-filter: blur(5px);
  // -o-filter: blur(5px);
  // -ms-filter: blur(5px);
  // filter: blur(5px);
}

.mainContainer {
  background-image: url("https://images.unsplash.com/photo-1470364798856-7a74180378dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=989&q=80");
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  width: 70vw;
  box-shadow: 0 3rem 6rem rgba(black, 0.5);
  border-radius: 1rem;
  border: 1px solid white;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    width: 100%;
    padding: 5rem;

    &--search {
      display: flex;
      align-items: center;

      input {
        width: 30rem;
        height: 2rem;
        padding: 1.8rem;
        background: rgba(white, 0.3);
        border: 1px solid rgb(209, 209, 209);
        border-radius: 0.5rem 0 0 0.5rem;
        outline: none;
        transition: all 0.2s;
        color: white;
        font-family: "Sora", sans-serif;

        &::placeholder {
          color: rgb(209, 209, 209);
          font-family: "Sora", sans-serif;
        }

        &:focus {
          background: rgba(white, 0.4);
          border: 1px solid white;
        }
      }

      &-icon {
        background-color: rgba(black, 0.7);
        height: 2rem;
        width: 2rem;
        padding: 1.9rem;
        margin-left: 0.2rem;
        position: relative;
        border-radius: 0 0.5rem 0.5rem 0;
        cursor: pointer;

        &:active {
          transform: scale(0.98);
        }

        svg {
          fill: white;
          height: 2.5rem;
          width: 2.5rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    &--details {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-location {
        color: white;
        font-size: 4rem;
        font-family: "Sora", sans-serif;
      }

      &-time {
        color: rgb(209, 209, 209);
        font-size: 2.8rem;
        font-family: "Sora", sans-serif;
        margin-bottom: 1rem;
      }

      &-date {
        color: rgb(209, 209, 209);
        font-size: 1.5rem;
        font-family: "Sora", sans-serif;
      }
    }
  }

  &__btm {
    background: rgba(black, 0.6);
    border-radius: 0 0 1rem 1rem;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(5, 1fr);
    height: 30%;
    width: 100%;

    & > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 1px solid white;
      height: 9rem;
    }

    &--temp {
      color: white;
      font-size: 4rem;
      font-family: "Sora", sans-serif;
    }

    &--weather {
      svg {
        fill: orange;
        height: 6rem;
        width: 6rem;
        margin-bottom: 1rem;
      }

      h3 {
        color: rgb(209, 209, 209);
        font-family: "Sora", sans-serif;
        font-size: 1.8rem;
      }
    }

    &--wind {
      border: none;
    }

    &--info {
      h2 {
        font-family: "Sora", sans-serif;
        color: rgb(209, 209, 209);
        font-size: 2rem;
      }

      h1 {
        margin-top: 1rem;
        font-family: "Sora", sans-serif;
        color: rgb(209, 209, 209);
        font-size: 2rem;
      }
    }
  }
}
