*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px(browser default) = 62.5%
  // @media only screen and (max-width: 1000px) {
  //   font-size: 50%;
  // }
}

// ::-webkit-scrollbar {
//   width: 0.8rem;
// }
// ::-webkit-scrollbar-track {
//   background: blue;
// }
// ::-webkit-scrollbar-thumb {
//   background-color: blue;
// }
// ::-webkit-scrollbar-thumb:hover {
//   background-color: #ffdf99;
// }

.app:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: linear-gradient(
      to bottom,
      rgba(#93b2f7, 0.9),
      rgba(#c6d8ff, 0.9)
    ),
    url("https://images.unsplash.com/photo-1505533542167-8c89838bb19e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
  //   	background-image: linear-gradient(
  // to bottom,
  // rgba(black, 0.7),
  // rgba(black, 0.7)
  // ),
  // url("https://images.unsplash.com/photo-1558030006-450675393462?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80")
  // background-image: linear-gradient(to bottom, #93b2f7, #c6d8ff);
  height: 100vh;
  background-size: cover;
  // -webkit-filter: blur(5px);
  // -moz-filter: blur(5px);
  // -o-filter: blur(5px);
  // -ms-filter: blur(5px);
  // filter: blur(5px);
}

// .app {
//   position: fixed;
//   left: 0;
//   right: 0;
//   z-index: 0;
//   margin-left: 20px;
//   margin-right: 20px;
// }

.mainContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://images.unsplash.com/photo-1505533542167-8c89838bb19e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
  height: 45rem;
  width: 80rem;
  box-shadow: 0 3rem 6rem rgba(black, 0.5);
}
